<a href="https://colab.research.google.com/github/qjkferebete/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operation and Expressions in Python

In [6]:
print(bool("Hello"))
print(bool (15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

Boolean Operators

In [9]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))

True
False
True
False

Functions can return a boolean

In [12]:
def myFunction():
  return True

print (myFunction())

True

In [21]:
def myFunction():
  return False
if myFunction():
    print("YES!")
else:
    print("NO!")

NO!

Try!

In [26]:
print (10>9)
a=6
b=7

print(a==b)
print(a!=a)

True
False
False

Python Operators

In [28]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [47]:
a=60
b=13
print (a & b)
print(a|b)
print(a^b)
a>>1
a<<2

12
61
49

240

Python Assignment Operators

In [54]:
x=1
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)

4
1
3
1.0
1.0

Logical Operators

In [68]:
y = 60
z = 13
print(y>z)
print(y<z)
print(y>z and z>y)
print(y>z and z<y)
print(not(y>z and z<y))
print(y>z ^ z<y)

True
False
False
True
False
True

Identity Operators

In [72]:
print(y is z)
print(y is not z)

True
False

Example 1
Loop Statament

In [75]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
 print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2
The break statement

In [78]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
 print(x)
 if x == "Thursday":
  break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3

In [83]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
 if x == "Thursday":
  break
 print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4
Looping through a String

In [82]:
for x in "week":
 print(x)

w
e
e
k

In [87]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
 if x == "Thursday":
  print(x)
  break

Thursday

The range() Function

In [89]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [90]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5

In [91]:
i = 1
while i<6:
  print(i)
  i += 1 #i =i+1 Assignment operator

1
2
3
4
5

While break statement

In [97]:
i=1
while i<6:
  print(i)
  if i ==3:
   break
  i+=1

1
2
3

While continue statement

In [98]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

While else statement

In [101]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6