<a href="https://colab.research.google.com/github/qjkferebete/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Indentation

In [8]:
if 5 > 2:
  print('Five is greater than two!')

Five is greater than two!

Phyton Comments

In [13]:
#This is a comment
if 5 > 2:
  print ("Five is greater than 2!")

Five is greater than 2!

Phyton Variable

In [24]:
x = 1 #This is a single variable with value
a, b=0,-1
a,b, c=0,-1,2
print(a)
print (b)
print (x)
b="JP"
print (b)

0
-1
1
JP

Phyton Casting

In [29]:
b = "JP" #This is a string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() Function

In [32]:
x=5
y="JP"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes and Single Quotes

In [34]:
y="JP"
print(y)

y="JP"
print(y)

JP
JP

Case Sensitive

In [37]:
a=4
A="Sally"
print(A)
#A will not overwrite a

Sally

Mutiple Varables

In [39]:
x, y ,z = "one", "two","three"
print (x, y, z)

one two three

One Value to Multiple Variables

In [41]:
x=y=z="four"
print (x, y, z)

four four four

Output Variables

In [46]:
x="enjoying"
print("Phython programming is " + x)

Phython programming is enjoying

Other Way (Output Variable)

In [47]:
x="phyton is "
y="enjoying "
z=x+y
print(z)

phyton is enjoying

Arithmetic Operation

In [50]:
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [51]:
a,b,c = 0,-1,6
c%=3
c

0

Comparison Operators

In [53]:
x=1
y=1

x==y

True

Logical Operators

In [54]:
x=1
x < 5 and  x < 10

True

Identity Opertors

In [59]:
a,b,c=0,-1,5
a is c

False